$mobile-small: 320px;
$mobile-medium: 480px;
$mobile-large: 768px;

$base-font-family: 'Poppins', sans-serif;

$color-dim-gray: #666666;
$color-solitude: #E9ECF1;
$color-alice-blue: #F0F8FF;
$color-pattens-blue: #D9E3ED;
$color-aero-blue: #C0E8D5;
$color-gossamer: #329688;
$color-white-smoke: #F2F2F2;
